
body {
background-image: url(../img/Lighthouse.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.timer {
 font-size: 70px;
 font-weight: 300;
 color: #E5FCC2;
}

.wrapper {
  text-align: center;
  margin-top: 20%;
}

.startBtn, .clear {
  width: 140px;
  height: 45px;
  font-size: 25px;
  background-color: #99B898;
}

 button:hover {
   background-color: #83AF9B;

 }
